body 
{
	margin: 0;
	padding: 0;			
}

table 
{
	border-collapse: collapse;
	border: 1px solid black;
	table-layout: fixed;
	width: 100%;
	min-height: 100vh; /* vh -> view height */
}

td 
{
	border: 1px solid black;
	padding-top: 40px;
	width: 50%;
}

.greenBG
{
	background-color:rgb(186, 192, 97);
}

.pinkBG
{
	background-color: rgb(254, 195, 172);
}