body 
{
	background-color: white;
}

table, td
{
	border-collapse: collapse;
	border: 1px solid black;
}

table, td
{
	table-layout: fixed;
	width: 100%;
	height: 100%;

	padding-top: 50px;
	padding-bottom: 100%;
}

.greenBG
{
	background-color:rgb(186, 192, 97);
}

.pinkBG
{
	background-color: rgb(254, 195, 172);
}
